extends ../layouts/default

block head
  title Piratpartiets medlemsdatabase

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    h1 Piratpartiet
    p.lead
      | Piratpartiets medlemsdatabase
      div
        a.btn.btn-primary.btn-lg(href='/registrering/') Bli medlem
        |  eller &nbsp;
        a.btn.btn-warning.btn-lg(href='/logg-inn/forgot/') Nullstill passord
      div.clearfix
  div.row
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Om oss
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/about/') Les mer
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Bli medlem
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/registrering/') Les mer
    div.col-sm-4
      div.panel.panel-default
        div.panel-body
          h3 Kontakt
          p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
          a.btn.btn-default.btn-block(href='/contact/') Les mer
