extends ../../layouts/default

block head
  title Bli medlem

block neck
  link(rel='stylesheet', href='/views/signup/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/signup/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 Bli medlem
      div#signup
      if oauthTwitter || oauthGitHub || oauthFacebook || oauthGoogle || oauthTumblr
        hr
        p Eller logg inn med...
        if oauthMessage
          div.alerts
            div.alert.alert-info.alert-dismissable
              button.close(type='button', data-dismiss='alert') &times;
              |#{oauthMessage}&nbsp;
              b
                a(href='/login/') Logg inn her
        div.btn-group.btn-group-justified
          if oauthTwitter
            a.btn.btn-info(href='/registrering/twitter/')
              i.fa.fa-twitter.fa-lg
              |  Twitter
          if oauthGitHub
            a.btn.btn-info(href='/registrering/github/')
              i.fa.fa-github.fa-lg
              |  GitHub
          if oauthFacebook
            a.btn.btn-info(href='/registrering/facebook/')
              i.fa.fa-facebook-square.fa-lg
              |  Facebook
          if oauthGoogle
            a.btn.btn-info(href='/registrering/google/')
              i.fa.fa-google-plus-square.fa-lg
              |  Google
          if oauthTumblr
            a.btn.btn-info(href='/registrering/tumblr/')
              i.fa.fa-tumblr-square.fa-lg
              |  Tumblr
    div.col-sm-6.marketing
      div.page-header
        h1 Fordeler
      p.lead Bli medlem! Du vil elske det!
      i.fa.fa-thumbs-o-up.super-awesome

  script(type='text/template', id='tmpl-signup')
    form
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group(class!='<%- errfor.username ? "has-error" : "" %>')
        label Brukernavn:
        input.form-control(type='text', name='username', value!='<%= username %>')
        span.help-block <%- errfor.username %>
      div.form-group(class!='<%- errfor.email ? "has-error" : "" %>')
        label E-postadresse:
        input.form-control(type='text', name='email', value!='<%= email %>')
        span.help-block <%- errfor.email %>
      div.form-group(class!='<%- errfor.password ? "has-error" : "" %>')
        label Passord:
        input.form-control(type='password', name='password', value!='<%= password %>')
        span.help-block <%- errfor.password %>
      div.form-group
        button.btn.btn-primary.btn-signup(type='button') Bli medlem
