{
   "development": {
    "username": "_INSERT USERNAME_",
    "password": "_INSERT PASSWORD_",
    "database": "drywall-development",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "test": {
    "username": "_INSERT USERNAME_",
    "password": "_INSERT PASSWORD_",
    "database": "drywall-test",
    "host": "127.0.0.1",
    "dialect": "postgres"
  },
  "production": {
    "username": "_INSERT USERNAME_",
    "password": "_INSERT PASSWORD_",
    "database": "drywall-production",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}
