{
   "development": {
    "username": "_INSERT USERNAME_",
    "password": "_INSERT PASSWORD_",
    "database": "drywall-development",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "_comment_": ["Comment out the 'logging' line below to get SQL etc",
                  "console logging.  See also the 'Options' section of",
                  "http://docs.sequelizejs.com/en/1.7.0/docs/usage/."],
    "logging": false,
    "force" : false
  },
  "test": {
    "username": "_INSERT USERNAME_",
    "password": "_INSERT PASSWORD_",
    "database": "drywall-test",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "force" : false
  },
  "production": {
    "username": "_INSERT USERNAME_",
    "password": "_INSERT PASSWORD_",
    "database": "drywall-production",
    "host": "127.0.0.1",
    "dialect": "postgres",
    "force" : false
  }
}
